# ─── Images ───────────────────────────────────────────────
*.ppm

# ─── Python ───────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyd
*.egg
*.egg-info/
dist/
build/

# ─── Virtual environments ─────────────────────────────────
venv/
.venv/
env/

# ─── ML / Model weights ───────────────────────────────────
*.pth
*.bin
*.safetensors
*.model
*.gz
*.ckpt
*.npz


# ─── HuggingFace cache ────────────────────────────────────
**/hub/

# ─── Datasets ─────────────────────────────────────────────
redai/hackthebox/redteam_code/GTSRB/
redai/hackthebox/redteam_code/mnist/

# ─── Jupyter ──────────────────────────────────────────────
.ipynb_checkpoints/

# ─── OS ───────────────────────────────────────────────────
.DS_Store
Thumbs.db
