<!DOCTYPE html>
<html>
<head>
<style>
	body 
	{
	background-image: url("https://estaticos.serpadres.es/media/cache/760x570_thumb/uploads/images/song/583da1a75cafe81e638b45df/reno.jpg");
	
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	
	
	
</style>
	<title> Merry Christmas </title>
</head>
<body>
	<form method="GET">
		<center>
			<p> <b>
				What do you want for Christmas? 
				</b>
			</p>
			<input type="text" name="gift">
			
			<br>
			<input type="submit" value="submit">
		
		</center>		
	</form>
</body>
</html>